* {
    margin: 0;
    background-color: #000000;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  .sketch{
    height: 1080px;
    overflow: hidden;
  }
  
  img{
    width: 25px;
    margin: 0 auto;
  }
  
  /* Side navigation */
  .sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
  }
  
  /* Side navigation links */
  .sidenav a {
    color: #ffffff;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Color on hover */
  .sidenav a:hover {
    background-color: #000000;
    color: rgb(0, 0, 0);
  }
  
  /* Style the content */
  .content {
    margin-left: 60px;
    padding-left: 10px;
  }

  /* Carousel */
.carousel {
  width: 100%;  /* Or a specific width */
  height: auto; /* Or a fixed height */
  overflow: hidden; /* Hide images that are not currently displayed */
  position: relative; /* For positioning controls if needed */
}

.carousel-image {
  width: auto;
  margin-left: 0;
  margin-top: 0;
  height: 1080px; /* Maintain aspect ratio */
  display: none; /* Initially hide all images except the first */
}

#photos { /* ensures the carousel container takes up space */
display: block;
width: 100%;
height: auto; /* Or a specific height if you want a fixed size carousel */
}